<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name ="STDOUT">
        </Console>

        <RollingFile name="rollingFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %-5p %c: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                <IfFileName glob="hippodrome.*.log"/>
                <IfLastModified age="7d"/>
            </Delete>
        </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>